.button{
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: var(--font-main);
    text-transform: uppercase;
}

.small{
    padding: 15px 13px;
    font-size: 10px;
    font-weight: 700;
}
.big{
    padding: 15px 38px;
    font-size: 16px;
    font-weight: 700;
}
.accent:hover{
    background: var(--button-hover-color);
    transform: scale(1.03);
}

.accent{
    background: var(--button-color);
}